@import 'https://fonts.googleapis.com/css?family=Secular+One|Lora';

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

img {
	width:400px;
}

body {
	font-family: 'Lora', sans-serif;
	line-height: 1.3;
	font-size: 17px;
	letter-spacing: .1em;
}

section {
	padding: 40px;
}

header {
    background:#590DFF;
}

#slogan {
	padding:40px;
	text-transform:lowercase;
	color: #eee
	}

h1 {
	font-family: 'Secular One', sans-serif;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 4em;
    width: 400px;
    line-height: 1.5em;
    margin: auto;
}

.info {
	display:inline-block;
	width:400px;
	padding:40px;
	text-transform: lowercase;
}

#first{
    text-align:left;
    letter-spacing:0.5em;
}

#middle{
    letter-spacing:0.14em;
}

#last{
    letter-spacing:0.15em;
}

section#writing {
	background-color:#6B2218;
}

section#writing a {
	border-bottom: 1px #590DFF solid;
}

section#projects {
	background-color:#180032;
}

section#projects img {
	width: 300px;
}

#left {
	/*background-color: violet;
	border: 1px black solid;*/
	padding: 20px;
	float: left;
	width: 35%;
}

#right {
	/*background-color: pink;
	border: 1px black solid;*/
	padding: 20px;
	float: right;
	width: 60%;
}

section#consumption img {
	width: 200px;
}

section#consumption {
	background-color:#F0BA9E;
}

footer {
	background-color:#590DFF;
	padding: 40px;
	}

h2 {
	font-family: 'Secular One', sans-serif;
	font-size: 2em;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: .5em;
	width: 0%
	display: inline-block;
}

h3 {
	padding: .5em;
}

p {
	padding: 40px;
	width: 500px;
	color:#eee;
}

ul {
	padding-left: 40px;	
	color:#eee;
	line-height: 2;
	width: 800px;
}

a {
	color: #eee;
	text-decoration: none;
	border-bottom: 1px #6B2218 solid;
	padding-bottom: .2em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

