@import 'https://fonts.googleapis.com/css?family=Secular+One|Lora';

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Lora', serif;
	line-height: 1.4;
	font-size: 17px;
	letter-spacing: .1em;
}

section {
	padding: 2.75%;
}

header {
    background:#590DFF;
}

h1 {
	font-family: 'Secular One', sans-serif;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 4em;
    width: 400px;
    line-height: 1.5em;
    margin: auto;
}

#slogan {
	padding: 2.75%;
	text-transform:lowercase;
	color: #eee
	text-align:center;
	margin: auto;
	border: 1px solid #6B2218;
	}

#first{
    text-align:left;
    letter-spacing:0.5em;
}

#middle{
    letter-spacing:0.14em;
}

#last{
    letter-spacing:0.15em;
}

.info {
	float: left;
	width:33.33%;
	box-sizing: border-box;
	padding:40px;
	text-transform: lowercase;
	text-align: center;
}

section#writing {
	background-color:#6B2218;
}

section#writing a {
	border-bottom: 1px #590DFF solid;
}

section#projects {
	background-color:#F0C2C9;
}

section#projects iframe {
/*	width: 300px;
*/	padding: 30px;
}

section#projects h2 {
color: #2B2B28;
}

section#projects a {
color: #2B2B28;
}

section#consumption img {
	width: 125px;
	margin: 1em 2em 1em 2em;
}

section#consumption {
	background-color:#F2F2E0;
}

section#consumption h2 {
color: #2B2B28;
}

.left {
	padding: 20px;
	float: left;
	width: 20%;
}

.right {
	padding: 20px;
	float: right;
	width: 75%;
}


.left div {
	float: left;
}

.right div {
	float: left;
}


footer {
	background-color:#0A382B;
	padding: 40px;
	}

h2 {
	font-family: 'Secular One', sans-serif;
	font-size: 2em;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: .5em;
	width: 0%
	display: inline-block;
}

h3 {
	padding: 20px;
}

p {
	padding: 40px;
	width: 500px;
	color:#eee;
}

ul {
	padding: 20px 0 0 40px;	
	color:#eee;
	line-height: 3;
	width: 800px;
}

a {
	color: #eee;
	text-decoration: none;
	border-bottom: 1px #6B2218 solid;
	padding-bottom: .2em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: )

