@import 'https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway';

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
img {
	width:400px;
}
body {
	font-family: 'Josefin Slab', serif;
	line-height: 1.3;
	font-size: 17px;
}
section {
	padding:5em 0;
}
header {
	background-color:#FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;
}

section#writing {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

section#projects {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

section#consumption {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color:#FF957E;
	border: 1px black solid;
	padding: 20px;
}

#slogan {
	padding: 1em
	font-size: 2em;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-family: 'Raleway', sans-serif;
}

p {
	margin-top:1em;
	width: 500px;
}

ul {
	padding-left: 40px;	
}

a {
	color: #FC320D;
}
