* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #590DFF;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3;
	}

h1, h2 {
	color: #E8E5C9;
}

#slogan {
	font-style: italic;
}

p {
	color: #E8C9E8;
}

a {
	color: #FC320D;
}